*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

/* Logo */
.logo {
    position: absolute;
    left: 90px;
    top: 50px;
}
.logo a {
    text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    font-weight: bold;
    color: #2f2e41;
    font-size:2rem;
}

/* Search */
.searchArea {
    position: fixed;
    right: 90px;
    top: 50px;
    width:170px;
    height: 45px;
    background-color:#fff;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    z-index: 1;
}

.searchbox input{
    width: 90px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #1F1F1F;
    font-size: 1rem;
    padding: 0px 10px;
}

/* Section1 */
.section1{
    position:absolute;
    left:15%;
    top: 50%;
    transform: translate(-15%,-50%);
}
.section1 img {
    height: 300px;
}

/* Section1 Button */
.section1Button{
    position: absolute;
    top: 50%;
    left:90%;
    transform: translate(-90%,-50%);
}

.section1Button h1, h2{
    font-weight: bold;
    margin: 0px;
    line-height: 60px;
    font-size: 4rem;
    color:#3D3D4A;
}
.color { color: #7A72FF; }

.btn {
    width:150px;
    height: 40px;
    background-color: #2f2e41;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 20px;
    cursor: pointer;
}
.btn:hover{
    color:#fff;
    background-color: #6e64ff;
    transition: all ease 0.5s;
}

/* Product Section */
.productSection {
    width: 85%;
    background-color: #fff;
    margin:30px auto;
    padding:40px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}

.productBox{
    width:250px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
    border-radius: 8px;
    position: relative;
}

.productBox img {
    height: 180px;
}

.BuyBtn{
    position: absolute;
    width:140px;
    height: 40px;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-radius: 50%;
    background:linear-gradient(120deg,#6b60ec 20%,#a166f4);
    color:#fff;
    display: none;
}
.productBox:hover .BuyBtn{
    display: flex;
}
